/* Style the header with a grey background and some padding */

.footer {
    font-family: 'Jost','Helvetica Neue', 'Helvetica', 'Liberation Sans', 'Sans-Serif';
    background-color: #eeeeee;
    padding:    5px 5px;
    color: #333333;
    }
    