
<hr style="height:1px;border-width:0;color:gray;background-color:gray;margin-top: 150px;"> 

<div class="footer">
    <link rel="stylesheet" href="/css/footer.css">
    <div class="links">
		{%- for item in site.external -%}
		{%- assign width = item.width | default: 20 -%}
		{%- assign width = item.height | default: 20 -%}
		<a href="{{ item.url }}"> <img alt= {{item.title}} src="/assets/icons/{{item.icon}}.png" width={{width}} height={{height}} /></a> &nbsp;
		{%- endfor -%}
	</div>
    <div class="copyright">
	<a href="/about" title="about">&copy; fschmnn 2020&ndash;2023</a>
	</div>
</div>