
@import "variables";

body {
  color: $darkgray;
  font-family: $fonts;
  margin: 60px auto;
  width: 50%;
  background-color: $backcolor;
}

* {
  box-sizing: border-box;
}

/* the text color */
p {
  font-family: $fonts; 
  font-size: 1.2em;
  line-height: 1.4em;
  color: $textcolor;
  text-align: justify;
}

a {
  text-decoration: none;
  color: $accentcolor;
}
a:hover {
  text-decoration-line: underline;
}

h1 {
  font-family: $fonts;
  font-size: 2em;
}


// remove bullet points from blog post list
ul.posts li {
  list-style: none;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 80%;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.img-circle {
  border-radius: 50%;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}

@media (max-width: 720px) {
  /* CSS that should be displayed if width is equal to or larger than 1200px goes here */
  body {
    width: 80%;
  }
  img {
    float: center;
    text-align: center;
  }
  }